* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/imgs/bg-img.jpg);
  background-position: center;
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3em;
}

a {
  color: inherit;
  text-decoration: none;
}

li:hover {
  color: white;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20vh;
  height: 4em;
  border-style: none none solid none;
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 0, 0.39);
}

section {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  color: white;
}